

.title {
  z-index: 5; /* Place le titre en dessous de la navbar et du burger */
  position: relative;
  background-color: #e7e2e1;

}

.title h1 {
  text-align: center;
  background-color: #e7e2e1;
  font-size: 9rem;

  padding-top: 20px;
}
hr {
  margin: 0 auto;
  background-color: #640a02;
  border: 0;
  height: 4px;
  width: 80%;
}
/* Styles pour les petits smartphones */
@media only screen and (max-width: 480px) {
  .title h1 {
  
    font-size: 3rem;
  
  }
  hr{
    display: none;

  }
}

@media only screen and (min-width: 481px) and (max-width: 900px) {
  .title h1 {
  
    font-size: 3rem;
  
  }
 
}
@media only screen and (min-width: 769px) and (max-width: 1024px) {
/* Styles pour les tablettes */
.title h1 {
  
  font-size: 5rem;

}
}