.h2-contact {
  font-size: 7rem;
  color: white;
  text-align: center;
  padding-top: 50px;
}

.article-contact {
  color: white;
  text-align: center;
  width: 25%;
  margin:30px  auto;
  font-size: 1.2rem;
  border: solid #ad8a3d 2px;
  padding: 15px;

}


.contact-form-textarea,
.contact-form-input {
  font-size: 1.1em;
  font-family: "Gowun";
}

.contact-form-textarea {
  height: 200px;
}

.contact-form-input {
  align-items: center;
}
.contact-form-row{
  display: flex;
  justify-content: center;
}
.contact-form-area{
margin:20px;

}
.contact-form-row{
gap:25px;
margin:20px;
}

.contact-form-container {
  width: 30%;
  margin: auto;
}