@font-face {
    font-family: 'Love Light';
    src: url('/public/Fonts/LoversQuarrel-Regular.ttf') format('truetype');
  }
  


.h2-contact{
    font-size: 5rem;
    color:white;
    text-align: center;
    font-family: 'Lovers Quarrel', cursive;
    font-weight: lighter;
}

.article-contact{
    color: white;
    text-align: center;
    width: 25%;
    margin: 0 auto;
    font-size: 1.2rem;
    border: solid #AD8A3D 2px;
    padding: 15px;

} 

.contact-form-container {
    display: flex;
    flex-direction: column; /* Empile les éléments verticalement */
    align-items: center; /* Centre les éléments horizontalement */
    justify-content: center; /* Centre les éléments verticalement */
    margin: 0 auto; /* Centre le conteneur du formulaire */
    max-width: 600px; /* Définit une largeur maximale */
  }