.swiper-container {
    width: 100%; /* Assurez-vous que le conteneur est large */
    padding: 20px; /* Ajoutez du padding si nécessaire */
  }
  
  .swiper-slide {
    display: flex; /* Pour s'assurer que le contenu de chaque slide est centré */
    justify-content: center; /* Centrer le contenu à l'intérieur des slides */
    align-items: center; /* Centrer verticalement */
    /* Ajoutez d'autres styles selon vos besoins */
  }
  