.app-bar {
  background-color: #E7E2E1; /* Couleur de fond de la barre */
}

.toolbar {
  display: flex;
  justify-content: space-between; /* Espace entre le titre et le burger */
}

.burger-button {
  color: black;
}

.drawer-list {
  width: 250px; /* Largeur du menu drawer */
}

.nav-link {
  text-decoration: none;
  color: inherit; /* Pour que les liens conservent la couleur par défaut */
}

.nav-link.active {
  font-weight: bold; /* Mettre en surbrillance l'élément actif */
}
