
.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #E7E2E1;
  height: 100px;

}
.item-button {
  display: flex;
  align-items: center;
  background-color: #E7E2E1;

}

.item-button a {
  font-size: 1.3rem;
color:black;
padding : 0 50px 0 50px;
  text-decoration: none;
  background-color: #E7E2E1;
}
