@font-face {
  font-family: 'Love Light';
  src: url('/public/Fonts/LoveLight-Regular.ttf') format('truetype');
}

footer {
  background-color: #E7E2E1;
  padding: 20px 0;
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
  background-color: #E7E2E1;

}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E7E2E1;
  align-items: center;
}

.social-network-footer {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.social-network-footer li a img {
  height: 40px;
  width: 40px;
}

.footer-column ul li {
  margin-bottom: 10px;
}

.h2-footer {
  text-align: center;
  padding-bottom: 10px;
  font-family: 'Love Light', cursive;
  font-weight: lighter;
  font-size: 4rem;
}

footer ul, footer li, footer a, footer img, footer .h2-footer {
  background-color: #E7E2E1;
  text-align: center;
  text-decoration: none;
}
