footer {
    font-size: 1em;
    background-color: #E7E2E1;
    height: 200px;
  }
  .footer-left{
    background-color: #E7E2E1;
    color: black

  }
  .footer-atelier-onirium {    background-color: #E7E2E1;
    
  }
  .social-network-footer li{    background-color: #E7E2E1;
  }