
  
  .contact-form-input,   .contact-form-textarea {
    width: 250px;
    background-color: black;
    height: 50px;
    border-radius: 10px;
    border-color: #AD8A3D;
    color: white;
    gap:30px;
}
  

  
  .contact-button-form {
    background-color: #640A02;
    height: 30px;
    width: 120px;
    border-radius: 10px;
    border: none;
    font-size: 1em;
    display: flex;
    align-items: center;
    color: white;
    margin:0  auto;
    margin-top: 20px;
    margin-bottom: 20px;
    justify-content: center;
  }
  

