.h2-banner {
  position: absolute;
  bottom: 50%;
  left: 50%;
  transform: translateX(-50% -50%);
  text-align: center;
  background: transparent;
  color: white;
  font-weight: lighter;
  font-size: 8rem;
}

.banner {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

/* Styles pour les petits smartphones */
@media only screen and (max-width: 480px) {
  .banner {
    height: 400px; 
  }

  .h2-banner {
    font-size: 3rem;
    bottom: 50%;
  }
}

/* Styles pour les smartphones et petites tablettes */
@media only screen and (min-width: 481px) and (max-width: 900px) {
  .banner {
    height: 500px;
  }

  .h2-banner {
    font-size: 5rem;
  }
}

/* Styles pour les tablettes */
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .banner {
    height: 600px;
  }

  .h2-banner {
    font-size: 6rem;
  }
}
