
.h2-banner{
  position: absolute;
  bottom: 100px;
  width: 100%;
background: transparent;
color:white;
font-weight: lighter;
font-size: 8rem;
}

.banner {
  position: relative;
  height: 700px;  
margin-bottom: 50px;
}

.banner img {
  width: 100%;
  object-fit: cover;
  height: 700px;  
}

